input {
    border: 2px solid #A46FFF;
    /* 枠線 */
    border-radius: 0.67em;
    /* 角丸 */
    padding: 0.5em;
    /* 内側の余白量 */
    background-color: snow;
    /* 背景色 */
    width: 100%;
    /* 横幅いっぱいにする */
    box-sizing: border-box;
    /* ※これがないと横にはみ出る */
    height: 120px;
    /* 高さ */
    font-size: 1em;
    /* 文字サイズ */
    line-height: 1.2;
    /* 行の高さ */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    visibility: hidden;
    color: #A46FFF;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent {
    position: relative;
    height: 200px;
}

input:focus {
    border-color: #A46FFF;
    /* 枠線の色 */
    background-color: #ffc;
    /* 背景色 */
    outline: none;
    /* ※ブラウザが標準で付加する線を消したいとき */
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 1250px;
    height: 700px;
    background-color: #fff;
}

#nameInput {
    visibility: hidden;
}

#btn {
    visibility: hidden;
}

.btn--orange,
button.btn--orange {
    color: #fff;
    position: absolute;
    background-color: #A46FFF;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn--orange:hover,
button.btn--orange:hover {
    color: #fff;
    background: #A46FFF;
}

button.btn--radius {
    border-radius: 100vh;
}

#error1 {
    width: 60%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error2 {
    width: 70%;
    position: absolute;
    visibility: hidden;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#error3 {
    width: 40%;
    position: absolute;
    visibility: hidden;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#error4 {
    width: 46%;
    position: absolute;
    visibility: hidden;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#error5 {
    width: 60%;
    position: absolute;
    visibility: hidden;
    top: 58%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#error6 {
    width: 80%;
    visibility: hidden;
    top: 10%;
    left: 100%;
}

#errorEnd {
    visibility: hidden;
    width: 1250px;
    height: 700px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    visibility: hidden;
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    visibility: hidden;
    font-size: large;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}